@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

.App {
  text-align: center;
  font-family: "Inconsolata", monospace;
  padding-bottom: 5%;
}

/* main page items */

#main_header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  background-color: #1c3144;
}

img {
  margin: 3%;
  float: left;
}

.page_title {
  color: white;
}

#nav_container {
  background-color: #596f62;
}

nav {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

nav a {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 2%;
  padding-left: 2%;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
}

nav a:hover {
  background-color: #c3d898;
}

/* article list */

main {
  width: 85%;
  margin: auto;
}

#article_header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

/* article cards */

.article_card {
  border: 3px dashed lightgrey;
  display: grid;
  row-gap: 10%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  margin-bottom: 2%;
  font-size: 1.2rem;
  padding: 1%;
}

.article_card span {
  padding: 5px;
}

.article_title {
  text-align: left;
  font-size: 1.4rem;
  grid-column: 1 / 4;
  text-decoration: none;
}

.article_topic {
  text-align: right;
}

.article_card_vote_component {
  text-align: right;
}

.article_author {
  text-align: left;
}

/* sort by */

select {
  margin-left: 2%;
}

/* article page */

#article_main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
}

#article_page_title {
  text-align: left;
  grid-column: 1 / 3;
}

#article_page_author {
  text-align: right;
  align-self: center;
}

#article_page_blank {
  grid-row: 3;
  margin-top: 4%;
}

#article_page_date {
  text-align: left;
  grid-column: 1 / 3;
  grid-row: 4;
}

.article_page_vote_component {
  text-align: right;
  grid-row: 4;
}

article {
  text-align: left;
  grid-column: 1 / 4;
}

/* comments */

#comment_list {
  display: grid;
  margin: auto;
  margin-top: 3%;
  width: 85%;
  grid-template-columns: 1fr 1fr;
}

#comments_header {
  text-align: left;
}

.comments_sort_by {
  text-align: right;
  align-self: center;
}

.comment_card {
  border: 3px dashed lightgrey;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  margin-bottom: 1%;
  grid-column: 1/3;
}

.comment_author {
  grid-column: 1 / 3;
  text-align: left;
  font-weight: bold;
}

.comment_card_vote_component {
  text-align: right;
}

.comment_body {
  margin-top: 1%;
  grid-column: 1 / 4;
  text-align: left;
}

.comment_created_at {
  margin-top: 3%;
  text-align: left;
}

.vote_button {
  margin-left: 1%;
}

.comment_card_delete {
  grid-column: 3 / 4;
  width: 30%;
  justify-self: flex-end;
}

#post_comment_form {
  display: flex;
  justify-content: center;
  text-align: left;
  grid-column: 1 /3;
}

/* #post_comment_label {
  text-align: left;
} */

#post_comment_label {
  margin-right: 1%;
}

#post_comment_input {
  height: 100px;
  width: 75%;
  resize: none;
  margin-right: 1%;
}

#post_comment_button {
  align-self: center;
  height: 50px;
  width: 10%;
}
